In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'api_keys'

In [3]:
csv_path_1 = os.path.join("chi_school_2011_2012.csv")
schools_2011_df = pd.read_csv(csv_path_1, encoding="utf-8")
schools_2011_df.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.902,1934466.545,41.975867,-87.683254,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.546,1908130.068,41.903785,-87.717963,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.893,1859929.018,41.771222,-87.666567,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"

In [4]:
#schools_2011_df.columns

In [5]:
schools_2011_df = schools_2011_df[['School ID','Name of School','ZIP Code','Elementary, Middle, or High School','Graduation Rate %', 'Ward','Average Student Attendance']]
schools_2011_df

,School ID,Name of School,ZIP Code,"Elementary, Middle, or High School",Graduation Rate %,Ward,Average Student Attendance
0,609966,Charles G Hammond Elementary School,60623,ES,NDA,12,95.3
1,610539,Marvin Camras Elementary School,60634,ES,NDA,30,95.1
2,609852,Eliza Chappell Elementary School,60625,ES,NDA,47,95.1
3,609835,Daniel R Cameron Elementary School,60651,ES,NDA,26,92.6
4,610521,Sir Miles Davis Magnet Elementary Academy,60636,ES,NDA,15,93.0
...,...,...,...,...,...,...,...
561,610506,TEAM Englewood Community Academy High School,60621,HS,NDA,20,87.3
562,610350,Robert A Black Magnet Elementary School,60619,ES,NDA,8,96.0
563,610154,Martin A Ryerson Elementary School,60624,ES,NDA,27,95.5
564,610384,Infinity Math Science and Technology High School,60623,HS,84.4,22,92.2
565,609870,Daniel J Corkery Elementary School,60623,ES,NDA,22,94.7

In [6]:
schools_2011_df = schools_2011_df[schools_2011_df['Elementary, Middle, or High School'] == "HS"]
schools_2011_df = schools_2011_df[['School ID','Name of School','ZIP Code','Graduation Rate %', 'Ward','Average Student Attendance']]
schools_2011_df

,School ID,Name of School,ZIP Code,Graduation Rate %,Ward,Average Student Attendance
8,609680,Walter Payton College Preparatory High School,60610,96.9,27,93.4
15,609722,Manley Career Academy High School,60612,49,28,66.8
17,609749,Northside College Preparatory High School,60625,97.6,40,95.7
28,610244,Michele Clark Academic Prep Magnet High School,60644,87.4,24,79.1
30,610394,Uplift Community High School,60640,62.4,46,88.7
...,...,...,...,...,...,...
554,609753,Chicago High School for Agricultural Sciences,60655,70.7,19,92.8
559,609724,Stephen T Mather High School,60659,56.2,40,87.6
560,610297,High School of Leadership at South Shore,60649,36.6,8,72.0
561,610506,TEAM Englewood Community Academy High School,60621,NDA,20,87.3
564,610384,Infinity Math Science and Technology High School,60623,84.4,22,92.2

In [7]:
csv_path_2 = os.path.join("chi_school_2015_2016.csv")
schools_2015_df = pd.read_csv(csv_path_1, encoding="utf-8")
schools_2015_df.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.902,1934466.545,41.975867,-87.683254,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.546,1908130.068,41.903785,-87.717963,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.893,1859929.018,41.771222,-87.666567,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"

In [8]:
schools_2015_df = schools_2015_df[['School ID','Name of School','ZIP Code','Elementary, Middle, or High School','Graduation Rate %', 'Ward','Average Student Attendance']]

In [9]:
schools_2015_df = schools_2015_df[schools_2015_df['Elementary, Middle, or High School'] == "HS"]
schools_2015_df = schools_2015_df[['School ID','Name of School','ZIP Code','Graduation Rate %', 'Ward','Average Student Attendance']]
schools_2015_df

,School ID,Name of School,ZIP Code,Graduation Rate %,Ward,Average Student Attendance
8,609680,Walter Payton College Preparatory High School,60610,96.9,27,93.4
15,609722,Manley Career Academy High School,60612,49,28,66.8
17,609749,Northside College Preparatory High School,60625,97.6,40,95.7
28,610244,Michele Clark Academic Prep Magnet High School,60644,87.4,24,79.1
30,610394,Uplift Community High School,60640,62.4,46,88.7
...,...,...,...,...,...,...
554,609753,Chicago High School for Agricultural Sciences,60655,70.7,19,92.8
559,609724,Stephen T Mather High School,60659,56.2,40,87.6
560,610297,High School of Leadership at South Shore,60649,36.6,8,72.0
561,610506,TEAM Englewood Community Academy High School,60621,NDA,20,87.3
564,610384,Infinity Math Science and Technology High School,60623,84.4,22,92.2

In [10]:
csv_path_3 = os.path.join("chi_school_2020_2021.csv")
schools_2020_df = pd.read_csv(csv_path_1, encoding="utf-8")
schools_2020_df.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.902,1934466.545,41.975867,-87.683254,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.546,1908130.068,41.903785,-87.717963,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.893,1859929.018,41.771222,-87.666567,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"

In [11]:
schools_2020_df = schools_2020_df[['School ID','Name of School','ZIP Code','Elementary, Middle, or High School','Graduation Rate %', 'Ward','Average Student Attendance']]
schools_2020_df = schools_2020_df[schools_2020_df['Elementary, Middle, or High School'] == "HS"]
schools_2020_df = schools_2020_df[['School ID','Name of School','ZIP Code','Graduation Rate %', 'Ward','Average Student Attendance']]
schools_2020_df

,School ID,Name of School,ZIP Code,Graduation Rate %,Ward,Average Student Attendance
8,609680,Walter Payton College Preparatory High School,60610,96.9,27,93.4
15,609722,Manley Career Academy High School,60612,49,28,66.8
17,609749,Northside College Preparatory High School,60625,97.6,40,95.7
28,610244,Michele Clark Academic Prep Magnet High School,60644,87.4,24,79.1
30,610394,Uplift Community High School,60640,62.4,46,88.7
...,...,...,...,...,...,...
554,609753,Chicago High School for Agricultural Sciences,60655,70.7,19,92.8
559,609724,Stephen T Mather High School,60659,56.2,40,87.6
560,610297,High School of Leadership at South Shore,60649,36.6,8,72.0
561,610506,TEAM Englewood Community Academy High School,60621,NDA,20,87.3
564,610384,Infinity Math Science and Technology High School,60623,84.4,22,92.2

In [12]:
csv_path_4 = os.path.join("crimes_2011_clean.csv")
crime_2011_df = pd.read_csv(csv_path_4, encoding="utf-8")
crime_2011_df.head()

,Unnamed: 0,Primary Type,Description,Latitude,Longitude
0,0,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.747362,-87.708424
1,3,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.891766,-87.766554
2,4,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.895419,-87.766632
3,6,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.875944,-87.743451
4,7,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.987282,-87.787652

In [13]:
csv_path_5 = os.path.join("crimes_2015_clean.csv")
crime_2015_df = pd.read_csv(csv_path_5, encoding="utf-8")
crime_2015_df

,Unnamed: 0,Primary Type,Description,Latitude,Longitude
0,0,BATTERY,DOMESTIC BATTERY SIMPLE,41.815117,-87.670000
1,1,THEFT,POCKET-PICKING,41.895080,-87.765400
2,2,NARCOTICS,POSS: HEROIN(BRN/TAN),41.937406,-87.716650
3,3,ASSAULT,SIMPLE,41.881903,-87.755121
4,4,BURGLARY,FORCIBLE ENTRY,41.744379,-87.658431
...,...,...,...,...,...
257906,264610,OTHER OFFENSE,OTHER VEHICLE OFFENSE,41.910395,-87.756914
257907,264611,BATTERY,AGGRAVATED DOMESTIC BATTERY - KNIFE / CUTTING ...,41.949434,-87.809568
257908,264612,BATTERY,AGGRAVATED - HANDGUN,41.903199,-87.751807
257909,264613,BATTERY,AGGRAVATED - HANDGUN,41.907739,-87.751611
257910,264616,CRIMINAL SEXUAL ASSAULT,PREDATORY,41.892005,-87.760536

In [14]:
csv_path_6 = os.path.join("crimes_2021_clean.csv")
crime_2021_df = pd.read_csv(csv_path_6, encoding="utf-8")
crime_2021_df

,Unnamed: 0,Primary Type,Description,Latitude,Longitude
0,0,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.747362,-87.708424
1,3,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.891766,-87.766554
2,4,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.895419,-87.766632
3,6,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.875944,-87.743451
4,7,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,41.987282,-87.787652
...,...,...,...,...,...
351308,351926,BATTERY,AGGRAVATED POLICE OFFICER - OTHER DANGEROUS WE...,41.880642,-87.706113
351309,351929,ASSAULT,AGGRAVATED - HANDGUN,41.854086,-87.644457
351310,351930,OFFENSE INVOLVING CHILDREN,AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY M...,41.806062,-87.673412
351311,351931,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,41.898807,-87.671037
351312,351932,BATTERY,DOMESTIC BATTERY SIMPLE,41.899705,-87.723771

In [22]:
# # Not sure how to remove the additional column from these DFs. I tried deleting (del) and dropping (df.drop()), but then the column name "Unnamed: 0" is not registering.
# del crime_2021_df['Unnamed: 0']
# print(crime_2021_df)
# crime_2021_df.drop('Unnamed: 0', inplace=True, axis=1)
# print(crime_2021_df)

In [ ]:
# Merging 2011 Schools DF with 2011 Crime DF. Not running, though due to KeyError.
twenty_eleven_df = pd.merge(schools_2011_df, crime_2011_df, on="Latitude", how="outer")
twenty_eleven_df.head()