In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import api_key

In [11]:
csv_path_1 = os.path.join("chi_school_2011_2012.csv")
schools_2011_df = pd.read_csv(csv_path_1, encoding="utf-8")
schools_2011_df.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.902,1934466.545,41.975867,-87.683254,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
3,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.546,1908130.068,41.903785,-87.717963,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
4,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.893,1859929.018,41.771222,-87.666567,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"

In [12]:
#schools_2011_df.columns

In [13]:
schools_2011_df = schools_2011_df[['School ID','Name of School','ZIP Code','Elementary, Middle, or High School','Graduation Rate %', 'Ward','Average Student Attendance']]
schools_2011_df["Year"] = "2011"
schools_2011_df

,School ID,Name of School,ZIP Code,"Elementary, Middle, or High School",Graduation Rate %,Ward,Average Student Attendance,Year
0,609966,Charles G Hammond Elementary School,60623,ES,NDA,12,95.3,2011
1,610539,Marvin Camras Elementary School,60634,ES,NDA,30,95.1,2011
2,609852,Eliza Chappell Elementary School,60625,ES,NDA,47,95.1,2011
3,609835,Daniel R Cameron Elementary School,60651,ES,NDA,26,92.6,2011
4,610521,Sir Miles Davis Magnet Elementary Academy,60636,ES,NDA,15,93.0,2011
...,...,...,...,...,...,...,...,...
561,610506,TEAM Englewood Community Academy High School,60621,HS,NDA,20,87.3,2011
562,610350,Robert A Black Magnet Elementary School,60619,ES,NDA,8,96.0,2011
563,610154,Martin A Ryerson Elementary School,60624,ES,NDA,27,95.5,2011
564,610384,Infinity Math Science and Technology High School,60623,HS,84.4,22,92.2,2011
565,609870,Daniel J Corkery Elementary School,60623,ES,NDA,22,94.7,2011

In [14]:
schools_2011_df = schools_2011_df[schools_2011_df['Elementary, Middle, or High School'] == "HS"]
schools_2011_df = schools_2011_df[['School ID','Name of School','ZIP Code','Graduation Rate %', 'Ward','Average Student Attendance','Year']]
schools_2011_df

,School ID,Name of School,ZIP Code,Graduation Rate %,Ward,Average Student Attendance,Year
8,609680,Walter Payton College Preparatory High School,60610,96.9,27,93.4,2011
15,609722,Manley Career Academy High School,60612,49,28,66.8,2011
17,609749,Northside College Preparatory High School,60625,97.6,40,95.7,2011
28,610244,Michele Clark Academic Prep Magnet High School,60644,87.4,24,79.1,2011
30,610394,Uplift Community High School,60640,62.4,46,88.7,2011
...,...,...,...,...,...,...,...
554,609753,Chicago High School for Agricultural Sciences,60655,70.7,19,92.8,2011
559,609724,Stephen T Mather High School,60659,56.2,40,87.6,2011
560,610297,High School of Leadership at South Shore,60649,36.6,8,72.0,2011
561,610506,TEAM Englewood Community Academy High School,60621,NDA,20,87.3,2011
564,610384,Infinity Math Science and Technology High School,60623,84.4,22,92.2,2011

In [19]:
csv_path_2 = os.path.join("chi_school_2015_2016.csv")
schools_2015_df = pd.read_csv(csv_path_2, encoding="utf-8")
schools_2015_df.head()

,School_ID,Short_Name,Long_Name,School_Type,Primary_Category,Address,City,State,Zip,Phone,...,Mobility_Rate_Pct,Chronic_Truancy_Pct,Empty_Progress_Report_Message,School_Survey_Rating_Description,Supportive_School_Award,Supportive_School_Award_Desc,Parent_Survey_Results_Year,School_Latitude,School_Longitude,Location
0,610547,SOUTH SHORE INTL HS,South Shore Intl College Prep High School,Selective enrollment,HS,1955 E 75TH ST,Chicago,Illinois,60649,7.735358e+09,...,7.7,NaN,This School Progress Report is currently under...,This school is “Organized for Improvement” whi...,NOT RATED,This school is in the process of being reviewe...,2015.0,41.758792,-87.576353,"1955 E 75TH ST\nChicago, Illinois 60649\n(41.7..."
1,400097,NOBLE - BULLS HS,Noble - Chicago Bulls College Prep,Charter,HS,2040 W ADAMS ST,Chicago,Illinois,60612,7.735348e+09,...,7.3,NaN,This School Progress Report is currently under...,This school is “Well-Organized for Improvement...,NOT RATED,This school is in the process of being reviewe...,2015.0,41.878809,-87.678195,"2040 W ADAMS ST\nChicago, Illinois 60612\n(41...."
2,610515,DISNEY II ES,Disney II Magnet School,Magnet,ES,3815 N KEDVALE AVE,Chicago,Illinois,60641,7.735344e+09,...,3.1,NaN,This School Progress Report is currently under...,This school is “Well-Organized for Improvement...,NOT RATED,This school is in the process of being reviewe...,2015.0,41.950461,-87.730678,"3815 N KEDVALE AVE\nChicago, Illinois 60641\n(..."
3,609997,HOLMES,Oliver Wendell Holmes Elementary School,Neighborhood,ES,955 W GARFIELD BLVD,Chicago,Illinois,60621,7.735359e+09,...,63.4,NaN,This School Progress Report is currently under...,This school is “Moderately Organized for Impro...,NOT RATED,This school is in the process of being reviewe...,2015.0,41.793788,-87.649795,"955 W GARFIELD BLVD\nChicago, Illinois 60621\n..."
4,609678,JONES HS,William Jones College Preparatory High School,Selective enrollment,HS,700 S STATE ST,Chicago,Illinois,60605,7.735349e+09,...,0.5,NaN,This School Progress Report is currently under...,This school is “Organized for Improvement” whi...,NOT RATED,This school is in the process of being reviewe...,2015.0,41.873066,-87.627675,"700 S STATE ST\nChicago, Illinois 60605\n(41.8..."

In [20]:
schools_2015_df.columns

Index(['School_ID', 'Short_Name', 'Long_Name', 'School_Type',
       'Primary_Category', 'Address', 'City', 'State', 'Zip', 'Phone',
       ...
       'Mobility_Rate_Pct', 'Chronic_Truancy_Pct',
       'Empty_Progress_Report_Message', 'School_Survey_Rating_Description',
       'Supportive_School_Award', 'Supportive_School_Award_Desc',
       'Parent_Survey_Results_Year', 'School_Latitude', 'School_Longitude',
       'Location'],
      dtype='object', length=153)

In [21]:
schools_2015_df = schools_2015_df[['School_ID','Short_Name','Zip','Primary_Category','Student_Attendance_Avg_Pct','College_Enrollment_School_Pct_Year_2']]
schools_2015_df["Year"] = '2015'
schools_2015_df

,School_ID,Short_Name,Zip,Primary_Category,Student_Attendance_Avg_Pct,College_Enrollment_School_Pct_Year_2,Year
0,610547,SOUTH SHORE INTL HS,60649,HS,88.8,NaN,2015
1,400097,NOBLE - BULLS HS,60612,HS,88.8,83.2,2015
2,610515,DISNEY II ES,60641,ES,95.1,NaN,2015
3,609997,HOLMES,60621,ES,95.1,NaN,2015
4,609678,JONES HS,60605,HS,88.8,87.6,2015
...,...,...,...,...,...,...,...
665,610173,SHERWOOD,60621,ES,95.1,NaN,2015
666,610115,PARK MANOR,60637,ES,95.1,NaN,2015
667,609996,HOLDEN,60608,ES,95.1,NaN,2015
668,609815,BOUCHET,60649,ES,95.1,NaN,2015
669,400135,YCCS - LATINO YOUTH,60608,HS,88.8,9.8,2015

In [22]:
schools_2015_df = schools_2015_df[schools_2015_df['Primary_Category'] == "HS"]
schools_2015_df = schools_2015_df[['School_ID','Short_Name','Zip','Primary_Category','Year','Student_Attendance_Avg_Pct','College_Enrollment_School_Pct_Year_2']]
schools_2015_df

,School_ID,Short_Name,Zip,Primary_Category,Year,Student_Attendance_Avg_Pct,College_Enrollment_School_Pct_Year_2
0,610547,SOUTH SHORE INTL HS,60649,HS,2015,88.8,NaN
1,400097,NOBLE - BULLS HS,60612,HS,2015,88.8,83.2
4,609678,JONES HS,60605,HS,2015,88.8,87.6
5,400136,YCCS - OLIVE HARVEY,60628,HS,2015,88.8,53.1
9,610513,AIR FORCE HS,60609,HS,2015,88.8,51.4
...,...,...,...,...,...,...,...
645,400124,YCCS - MCKINLEY,60616,HS,2015,88.8,16.7
646,400148,INSTITUTO - LOZANO HS,60608,HS,2015,88.8,NaN
652,400164,INSTITUTO - LOZANO MASTERY HS,60608,HS,2015,88.8,23.5
657,610570,OMBUDSMAN - SOUTH HS,60636,HS,2015,88.8,NaN
669,400135,YCCS - LATINO YOUTH,60608,HS,2015,88.8,9.8

In [27]:
csv_path_3 = os.path.join("chi_school_2018_2019.csv")
schools_2018_df = pd.read_csv(csv_path_3, encoding="utf-8")
schools_2018_df.head()

,School_ID,Short_Name,Long_Name,School_Type,Primary_Category,Address,City,State,Zip,Phone,...,Attainment_SAT_Grade_11_School_Pct,Attainment_SAT_Grade_11_School_Lbl,Attainment_All_Grades_School_Pct,Attainment_All_Grades_School_Lbl,Growth_PSAT_Math_Grade_10_School_Pct,Growth_PSAT_Math_Grade_10_School_Lbl,Growth_SAT_Reading_Grade_11_School_Pct,Growth_SAT_Reading_Grade_11_School_Lbl,Growth_SAT_Math_Grade_11_School_Pct,Growth_SAT_Math_Grade_11_School_Lbl
0,609710,HARLAN HS,John M Harlan Community Academy High School,Neighborhood,HS,9652 S MICHIGAN AVE,Chicago,Illinois,60628,7.735355e+09,...,5.6,5.6,6.2,6.2,7.0,7th,50.0,50th,50.0,50th
1,610059,MAYER,Oscar Mayer Magnet School,Magnet,ES,2250 N CLIFTON AVE,Chicago,Illinois,60614,7.735346e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,610334,RABY HS,Al Raby High School,Small,HS,3545 W FULTON BLVD,Chicago,Illinois,60624,7.735347e+09,...,3.5,3.5,2.7,2.7,16.0,16th,50.0,50th,63.0,63rd
3,610237,BEETHOVEN,Ludwig Van Beethoven Elementary School,Neighborhood,ES,25 W 47TH ST,Chicago,Illinois,60609,7.735351e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,610158,SAYRE,Harriet E Sayre Elementary Language Academy,Neighborhood,ES,1850 N NEWLAND AVE,Chicago,Illinois,60707,7.735343e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
schools_2018_df = schools_2018_df[['School_ID','Short_Name','Zip','Primary_Category','Student_Attendance_Avg_Pct','College_Enrollment_School_Pct_Year_2']]
schools_2018_df = schools_2018_df[schools_2018_df['Primary_Category'] == "HS"]
schools_2018_df["Year"] = '2018'
schools_2018_df = schools_2018_df[['School_ID','Short_Name','Zip','Primary_Category','Year','Student_Attendance_Avg_Pct','College_Enrollment_School_Pct_Year_2']]
schools_2018_df

,School_ID,Short_Name,Zip,Primary_Category,Year,Student_Attendance_Avg_Pct,College_Enrollment_School_Pct_Year_2
0,609710,HARLAN HS,60628,HS,2018,93.3,62.3
2,610334,RABY HS,60624,HS,2018,93.3,48.5
9,609712,HIRSCH HS,60619,HS,2018,93.3,46.9
10,610543,SOLORIO HS,60632,HS,2018,93.3,74.4
17,610389,ORR HS,60624,HS,2018,93.3,56.4
...,...,...,...,...,...,...,...
618,610383,SOCIAL JUSTICE HS,60623,HS,2018,93.3,71.4
621,400142,YCCS - VIRTUAL,60612,HS,2018,93.3,NaN
625,609723,MARSHALL HS,60624,HS,2018,93.3,63.2
628,400136,YCCS - OLIVE HARVEY,60628,HS,2018,93.3,42.9
647,400129,YCCS - PROGRESSIVE LEADERSHIP,60637,HS,2018,93.3,13.7